
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} 用户信息 {% endblock title %}
{% block content %}
<div class="container mt-5"> <!-- 增加了顶部外边距 -->
    <div class="row justify-content-center"> <!-- 使内容水平居中 -->
        <div class="col-md-8"> <!-- 调整为md-8以限制宽度并使其看起来更美观 -->
            <h2 class="text-center">用户信息</h2> <!-- 标题居中 -->
            <div class="row mt-3">
                <div class="col text-center">用户名: {{ user.username }}</div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-auto text-center">
                    {% if profile.avatar %}
                        <p>头像</p>
                        <img src="{{ profile.avatar.url }}" alt="Avatar" style="max-width: 150px; border-radius: 50%;" class="rounded-circle img-fluid mt-2">
                    {% else %}
                        <h5>暂无头像</h5>
                    {% endif %}
                </div>
            </div>
            <form method="post" action="." enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <!-- avatar -->
                <div class="form-group row justify-content-center">
                    <div class="col-sm-8">
                        <label for="avatar">上传头像</label>
                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                    </div>
                </div>
                <!-- phone -->
                <div class="form-group row justify-content-center">
                    <div class="col-sm-8">
                        <label for="phone">电话</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}">
                    </div>
                </div>
                <!-- bio -->
                <div class="form-group row justify-content-center">
                    <div class="col-sm-8">
                        <label for="bio">简介</label>
                        <textarea type="text" class="form-control" id="bio" name="bio" rows="6">{{ profile.bio }}</textarea>
                    </div>
                </div>
                <!-- 提交按钮 -->
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-block">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}