{% extends "base.html" %}
{% load staticfiles %}
<!-- extends表明此页面继承自 base.html 文件 -->


<!--{% for article in articles %}
	<p>{{ article.title }}</p>
{% endfor %}-->
<!--这部分先注释掉-->

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container" >
    <!-- 22，修改，面包屑的href增加search参数 -->
    <!--最新最热排序-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background :#eeffd3;">
            <li class="breadcrumb-item">
                <!--28章，增加了标签栏目，要实现联合查询，则应该在href后加上相应字段-->
                <!--最新和最热以及页码都类似的加了，其他没有，如果有需要后期可加上-->
                <a href="{% url 'article:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                    最新
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                    最热
                </a>
            </li>
        </ol>
    </nav>
     <!-- 新增，搜索栏 -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text"
                    class="form-control mb-2 mr-sm-2"
                    name="search"
                    placeholder="搜索文章..."
                    required
                >
            </form>
        </div>
    </div>

    <!-- 新增，搜索提示语 -->
    {% if search %}
        {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}

    <!-- 27,新修改，优化了哈，列表循环 -->
    <div class="row mt-2">
        {% for article in articles %}
            <!-- 标题图 -->
            {% if article.avatar %}
                <div class="col-3">
                    <img src="{{ article.avatar.url }}"
                         alt="avatar"
                         style="max-width:100%; border-radius: 20px"
                    >
                </div>
            {% endif %}
            <!-- 文章内容 -->
            <div class="col">
                <!-- 栏目 -->
                {% if article.column %}
                    <button type="button"
                        class="btn btn-sm mb-2
                              {% if article.column.title == '文学' %}
                                  btn-success
                              {% elif article.column.title == '新闻' %}
                                  btn-danger
                              {% elif article.column.title == '科普' %}
                                  btn-primary
                              {% elif article.column.title == '娱乐' %}
                                  btn-warning
                              {% elif article.column.title == '其他' %}
                                 btn-warning
                              {% elif article.column.title == 'Anything you want' %}
                                  btn-dark
                              {% endif %}
                        "
                    >
                        {{ article.column }}
                    </button>
                {% endif %}

                <!-- 标签 -->
                <span>
                    {% for tag in article.tags.all %}
                        <!--使其带有tag参数返回到View中-->
                        <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                           class="badge badge-secondary  "
                            style="background: #ff8726;"
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- 标题 -->
                <h4>
                    <b>
                        <a href="{% url 'article:article_detail' article.id %}"
                           style="color: black;"
                        >
                            {{ article.title }}
                        </a>
                    </b>
                </h4>
                <!-- 摘要 -->
                <div>
                    <p style="color: gray;">
                        {{ article.body|slice:'100' }}...
                    </p>
                </div>
                <!-- 注脚 -->
                <p>
                    <!-- 附加信息，增加了图标 -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        <!-- 修改为评论的计数 -->
                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-heart" style="color: pink;"></i>
                        {{ article.likes }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: #ff921e;"></i>
                        {{ article.created|date:'Y-m-d' }}
                    </span>
                </p>
                <hr>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div>


        <!-- 页码导航，19章 -->
    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if articles.has_previous %}
                    <!--21，修改--><!-- 22，修改，页码href增加search参数 -->
                    <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-success" style="background-color: #54D99F; color: black;">&laquo; 1</a>
                    <span>...</span>
                    <!--21，22，修改-->
                    <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary" style="background-color: #ACE08C; color: black;"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg"  style="background-color: #E8E284; color: black;">
                    {{ articles.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                    <!--21，22，修改-->
                    <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary"  style="background-color: #ACE08C; color: black;"
                    >
                        {{ articles.next_page_number }}
                    </a>
                    <span>...</span>
                    <!--21，22，修改-->
                    <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-success" style="background-color: #F2B652; color: black;"
                    >
                        {{ articles.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock content %}